/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  width: 100%;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

.title {
  padding-top: 48px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #007765;
  text-align: center;
}

.main_container {
  max-width: 1219px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0 auto;
}

.site_header {
  width: 100%;
  background-color: #007765;
  height: 84px;
  position: sticky;
  top: 0;
  margin-top: -28px;
}

.logo1 {
  width: 184px;
  height: 45px;
  float: left;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

nav {
  width: 100%;
  max-width: max-content;
  margin: 28px 54px 26px 741px;
  padding-top: 28px;
}

#theproblem,
#ppcoin,
#the_team {
  border-top: 84px solid transparent;
  margin-top: -84px;
  background-clip: padding-box;
}

.jumbotron {
  background: url(images/image.png);
  background-size: cover;
  background-position: center center;
  height: 409px;
  margin-top: -48px;
}

.jumbotron_title {
  font-weight: 500;
  font-size: 72px;
  color: white;
  text-align: center;
  padding-top: 160px;
}

.text_problem {
  font-weight: normal;
  font-size: 32px;
}

.bold {
  font-weight: 700;
}

.hero {
  background: url(images/image\(1\).png);
  background-size: cover;
  background-position: center center;
  padding-top: 128px;
  padding-bottom: 127px;
  padding-left: 163px;
  padding-right: 163px;
}

.message {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 48px;
  text-align: center;
}

.logo2 {
  float: left;
  margin: 0;
  padding-right: 48px;
  margin-top: 30px;
}

.logo_img {
  width: 115px;
  height: 115px;
}

.text_ppc {
  font-weight: normal;
  font-size: 32px;
}

.italic {
  font-style: italic;
}

.theteam {
  background-color: #eee;
  margin: 0;
  padding-top: 48px;
}

.theteam > .main_container > .title {
  padding-top: 0;
}

.photo {
  width: 168px;
  height: 168px;
}

.img {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  width: 31%;
}

figcaption {
  padding-top: 12px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #007765;
}

.members {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  padding-bottom: 94px;
}

.site_footer {
  background-color: #333;
}

.text_footer {
  color: white;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 64px;
  padding-left: 280px;
  padding-right: 280px;
}
/* FINALLY */
